#home {
  position: relative;
  background: url("../../assets/bgIMG.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;

  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header{
  width: 80vw;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
